@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
  <div class="text-center">
		<h1 class="display-4">Park Finder API</h1>
		<h3>Explore the Great Outdoors From Home</h3>
	</div>  
</div>
